:root {
  --color-blue: #4a78a0;
  --color-orange: #ff6c1a;
  --color-white: #faf7f7;
  --color-black: #000000;

  --title-font: "Roboto", sans-serif;
  --text-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--title-font);
  font-size: 2rem;
}

/*  Header  */

/*   Main   */

/* Latest news */

/* Interesting news */
