:root {
  --color-blue: #4a78a0;
  --color-orange: #ff6c1a;
  --color-white: #faf7f7;
  --color-black: #000000;

  --title-font: "Roboto", sans-serif;
  --text-font: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: var(--title-font);
}

a {
  text-decoration: none;
}

.wrapper-internal {
  padding: 5em 10%;
}

/*  Header  */

.header__top {
  background-color: var(--color-white);
}

.wrapper-header-top {
  display: grid;
  padding: 1em 5%;
  grid-template-columns: 1.5fr .5fr .5fr 1fr 1fr .5fr
 }

.flex-center{
display: flex;
justify-content: center;
align-self: start;
}

.header__top-logo-elinformante {
  font-size: 3rem;
  color: var(--color-blue);
  padding: 0.5rem;
  font-weight: bold;
}

.header__top-date {
  padding: 1rem;
}

.header__top-redes {
  /* background-color: yellow;s */
  padding: 1em;
}

.header__redes-icon {
  width: 25px;
  margin: 0 0.2em;
}


.header__search-icon {
  width: 2em;
}

.header__search-icon-container{
  display: inline-block;
  background-color: var(--color-blue);
  padding: .5em;
  height: 2.9em;
  border-top-left-radius: 1em ;
  border-bottom-left-radius: 1em;
}

.header__search-input{
  height: 2.2em;
  width: 78%;
  border-color: var(--color-blue);
}

.header__top-new-article {
  padding: 1rem;
  text-align: center;
  background-color: var(--color-orange);
  border-radius: 1rem;
  cursor: pointer;
}

.header__create-icon {
  width: 25px;
  display: inline-block;
}

.header__create-text{
  display: inline-block;
  font-size: 1.2em;
}

.header__top-user {
  display: flex;
  /* background-color: red; */
  /* padding: 1em; */
}

.header__notification-icon {
  width: 25px;
  margin: 0 1em 0 0;
  cursor: pointer;
}

.header__user-icon {
  width: 5em;
  cursor: pointer;
}

.header__bottom {
  background-color: var(--color-blue);
}

.header__list {
  display: flex;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
}

.header__list-item {
  border-right: gray;
  flex-grow: 1;
}

.header__list-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-white);
  text-align: center;
  font-size: 1.4rem;
}

/*   Main   */

.main__category {
  color: var(--color-white);
  font-size: 1.2rem;
  background-color: var(--color-blue);
  border-radius: 1rem;
  padding: 0.5rem;
}

.main__title {
  font-size: 4vmin;
  padding: 0.5rem;
  width: 81vw;
  position: absolute;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.4);
}

.main__image {
  width: 80vw;
  /* margin: 0 10%; */
}
/* Latest news */

.section__title {
  display: block;
  font-size: 4rem;
  color: var(--color-blue);
  display: inline-block;
  margin: 1rem 0;
  padding-right: 1rem;
}

.section__division {
  display: inline-block;
  height: 1.5rem;
  background-color: var(--color-blue);
  padding: 0.6rem;
  min-width: 400px;
  max-width: 1000px;
}

.section__latest-news-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
}

.article__latest-news {
  display: inline-block;
  padding: 2rem;
  background-color: var(--color-white);
  margin-bottom: 1rem;
  border-radius: 1rem;
  min-width: 250px;
}

.article__title--dark {
  color: var(--color-black);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.article__intro-paragraph {
  font-family: var(--text-font);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.article__button--light {
  padding: 0.4rem 0.4rem;
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 1rem;
  float: right;
}

/* Interesting news */

.article__interesting-news {
  display: inline-block;
  padding: 2rem;
  background-color: var(--color-white);
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.article__interesting-image--left {
  width: 40%;
  position: relative;
  border-radius: 1rem;
  float: left;
}

.article__interesting-image--right {
  width: 40%;
  position: relative;
  border-radius: 1rem;
  float: right;
}

.article__title--principal-color {
  color: var(--color-blue);
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.article__intro-paragraph {
  font-family: var(--text-font);
  margin-bottom: 1rem;
  line-height: 1.5;
}

.article__button--principal-color {
  padding: 0.4em 0.4em;
  color: var(--color-white);
  background-color: var(--color-blue);
  border: 2px solid var(--color-blue);
  border-radius: 1em;
  float: right;
}

/*   Footer   */

.footer__horizontal-container {
  background-color: var(--color-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1em;
}

.footer__logo-elinformante {
  color: var(--color-white);
  font-size: 2em;
  padding: 1em;
}

.footer__redes {
  padding: 1em;
}

.footer__redes-icon {
  width: 35px;
}

.footer__list-container {
  padding: 1em;
}

.footer__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer__list-item {
  color: var(--color-white);
  padding: 0.5em;
}

.footer__information {
  background-color: var(--color-blue);
  padding: 0 2em 2em 2em;
  text-align: center;
  font-size: 1em;
}

/* Modal Create */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(0);
}

.modal__content {
  background-color: var(--color-white);
  width: 50vw;
  padding: 3rem;
  border: 1px solid darkgray;
}

.modal--mostrar {
  transform: scale(1);
}

.modal__content > h4 {
  font-size: 2em;
}

.modal__create-title-input {
  display: block;
  height: 3em;
  width: 100%;
  margin-bottom: 0.5em;
  border: 2px solid;
  border-color: var(--color-blue) var(--color-blue);
}

.modal__create-intro-input {
  display: block;
  margin-bottom: 0.5em;
  border: 2px solid;
  width: 100%;
  border-color: var(--color-blue) var(--color-blue);
}

.modal__create-text-input {
  display: block;
  margin-bottom: 0.5em;
  border: 2px solid;
  width: 100%;
  height: 100px;
  border-color: var(--color-blue) var(--color-blue);
}

.uploadBtn {
  margin-bottom: 0.5em;
}

.modal__create-link-video {
  display: inline;
  margin-bottom: 1em;
}

.modal__create-publicar-button {
  /* display: inline-block; */
  padding: 1em;
  background-color: var(--color-orange);
  border: 2px solid orangered;
  margin: 0 auto;
  margin-top: 1em;
  cursor: pointer;
}

legend {
  font-size: 1.5em;
  color: var(--color-blue);
}

select {
  margin-bottom: 0.5em;
}
